body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: color #f8f8f8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover{
    text-decoration: underline;
    color: #00aaff;
}
.banner{
    background: url(https://images.unsplash.com/photo-1615396899839-c99c121888b0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHByb2R1Y3R8ZW58MHx8MHx8fDA%3D);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    width: 100%;
}
.banner h1{
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.features{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #f0f0f0;
}
.feature-box{
    width: 30%;
    background:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}
.pricing{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}
.card{
    width: 30%;
    background:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    border: 2px solid #eee;
}
.card h2{
    margin-bottom: 20px;
    color: #00aaff;
}
.price-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}
.price-btn:hover{
    background-color: #0088cc;
}
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .features, .pricing
    {
        flex-direction: column;
        align-items: center;
    }
    .feature-box, .card{
        width: 80%;
        margin: 10px 0;
    }
    .banner h1{
        font-size: 32px;
    }
}